
h1{
    font-size: 30px;
}


.personalized{
    text-align: center !important;
   
    

};

a {
    color: black !important;
    text-decoration:none !important;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

div.container-fluid {
  background-color: rgb(87, 87, 87);
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
     background-color: rgb(87, 87, 87); 
     
}

a.navbar-brand {
    color: #fff !important;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

a.nav-link.active {
  color: #fff !important; 
  font-family:Georgia, 'Times New Roman', Times, serif; 
}

a.nav-link {
    color: #fff !important; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
  }

  li.list-group-item {
    margin-left: -20px;
    margin-right: 10px;
    width:70%;
    font-family:Georgia, 'Times New Roman', Times, serif; 
  }

  p {
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    line-height: 25px;
    margin-top: 30px;
  }
